<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Cinema Function Registration</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/getRequestMovie.js"></script>
<script src="/deleteRequestMovie.js"></script>
</head>
<body>
	<div id="postResultDiv" align="center"></div>
	<div class="container">
		<h2>Choose the movie to be deleted</h2>
		<form id="deleteMovieForm">
			<div class="form-group">
				<label>Select a Movie:</label>
					<select id="movieNamesSelect"></select>
			</div>
			<button type="submit" class="btn btn-primary">Delete Cinema Function</button>
		</form>
		<br />
	</div>
</body>
</html>