<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Home</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/buttonEventsHomePage.js"></script>
</head>
<body>
	<h2>Choose an option<h2><br>
	<div class="col-sm-7" style="margin: 20px 0px 20px 0px">
		<button id="goToNewUserPageButton" onclick="goToNewUserPage()">Register New User</button></br></br>
		<button id="goToNewCinemaFunctionPageButton" onclick="goToNewCinemaFunctionPage()">Register New Cinema Function</button></br></br>
		<button id="goToNewMoviePageButton" onclick="goToNewMoviePage()">Register New Movie</button>
	</div>
</body>
</html>